@keyframes bounce{
    0%{transform: translateY(0);}
    50%{transform: translateY(-20px);}
   100%{transform: translateY(0px);}
}

body {
    font-family:"Poppins";
}
.navbar-brand{
    position: relative;
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-iteration-count: 3;   
}

#carousel-bg-image {
    background:url("./images/banner-img-1.jpg")center/cover;
    height:100vh;
}

.shopping-buttons {
    background-color:#fff !important;
    color:rgb(85 , 85 , 85) !important;
    padding:10px 28px !important;
    border-radius:25px !important;
    text-transform:uppercase important;
    font-weight:400 !important;
    border:1px solid rgb(85 , 85 , 85) !important;
}

.shopping-buttons:hover {
    background-color:#e5345b !important;
    color:#fff !important ;
    border-color:#e5345b !important;
}

.active-button{
    background-color:#e5345b !important;
    color:#fff !important ;
    border-color:#e5345b !important;
}

.title::before {
    position:absolute;
    content:"";
    width:4px;
    height:40px;
    background-color:#e5345b;
    transform: translateX(-20px);
}
.card-text{
    i{
        color: #e5345b;
    }
}

#offers {
    background:url("./images/offer_img.jpg") center/cover;
    height:100vh;
}
img:hover{
    transform: scale(1.2);
    transition: 0.4s;
}

.success {
    font-size:100px;
    color:green;
}